# Ignore Maven builds
target/

# Node
node_modules/
node/

# Git
.git/

# Site module
site/src/config-devel.json
site/src/package.json
site/src/tsconfig.json
site/src/tslint.json
site/src/typings.json
site/src/dist/
site/src/public/
site/src/typings/
site/src/views/pages/
site/src/views/partials/
site/src/lib/index.ts
site/src/lib/rendering.ts
site/src/lib/routing.ts
site/src/lib/server.ts
site/src/lib/typings.d.ts
site/src/lib/visualization.ts
site/src/scss/_constants.scss
site/src/scss/icons.scss
site/src/scss/site.scss

# Cordova
cordova/src/platforms/android
cordova/src/platforms/ios/.gitignore
cordova/src/platforms/ios/build
cordova/src/platforms/ios/cordova
cordova/src/platforms/ios/CordovaLib
cordova/src/platforms/ios/extmd/Classes
cordova/src/platforms/ios/extmd/Plugins
cordova/src/platforms/ios/extmd/Resources
cordova/src/platforms/ios/extmd/config.xml
cordova/src/platforms/ios/extmd/extmd-Info.plist
cordova/src/platforms/ios/extmd/extmd-Prefix.pch
cordova/src/platforms/ios/extmd/main.m
cordova/src/platforms/ios/extmd/.gitignore
cordova/src/platforms/ios/platform_www
cordova/src/platforms/ios/www
cordova/src/platforms/ios/extmd.xcodeproj/project.xcworkspace
cordova/src/platforms/ios/extmd.xcodeproj/xcuserdata
cordova/src/platforms/ios/extmd/Bridging-Header.h
cordova/src/platforms/ios/extmd/Images.xcassets/
cordova/src/platforms/ios/ios.json
cordova/src/platforms/ios/frameworks.json
cordova/src/platforms/platforms.json
cordova/src/plugins
cordova/src/assets/build
cordova/src/www
cordova/src/config.xml
cordova/src/merges
cordova/src/package.json
cordova/scripts
cordova/templates

