[Unit]
Description=MariaDB
After=docker.service
After=flanneld.service
After=confd.service
Requires=docker.service
Requires=flanneld.service
Requires=confd.service

[Service]
EnvironmentFile=/etc/metadata
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm mariadb
ExecStartPre=-/usr/bin/flock /var/lock /usr/bin/timeout 5m /usr/bin/docker pull extendedmind/mariadb:latest
ExecStart=/usr/bin/docker run --name mariadb \
-e MYSQL_ROOT_PASSWORD=${MARIADB_ROOT_PWD} \
--volumes-from mariadb-conf --volumes-from DATA-MARIADB \
-p 3306:3306 \
-p 4567:4567/udp \
-p 4567-4568:4567-4568 \
-p 4444:4444 \
mariadb:10.1

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
